{% extends "base.html" %}

{% block content %}

<div class="px-3 py-2 bg-gray-100 rounded-sm">
    <h3 class="text-3xl text-gray-900">{{ listing.title }}</h3>
    <p class="text-gray-900">${{ listing.price }}</p>
    <p class="text-gray-600 text-sm">{{ listing.address }}</p>

    {% if request.user.is_staff %}
    <div class="mt-5 py-5 border-t border-gray-200">
        <a href="/listings/{{ listing.id }}/edit/" class="text-blue-500">
            Edit
        </a>
        <a href="/listings/{{ listing.id }}/delete/" class="ml-3 text-blue-500">
            Delete
        </a>
    </div>
    {% endif %}

</div>

{% endblock %}